<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/Home">Reimbursement - {{ header }}</a>
        <button class="navbar-toggler" type="button"  (click)="toggleNavbar()"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler"  [class.show]="isNavbarOpen">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="hasLoggedIn">
                <li class="nav-item" *ngIf="!isExecutive">
                    <a class="nav-link" routerLink="/Employee/AddNewRequest">Add Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Employee/ViewReimbursementRequests">View Requests</a>
                </li>
            </ul>
            <!-- <div class="d-flex"  *ngIf="!hasLoggedIn">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a routerLink="/Login" class="nav-link ">Login</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/Login" class="nav-link ">Register</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex"  *ngIf="hasLoggedIn">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" (click)="logout()">
                    <li class="nav-item">
                        <a routerLink="/Login" class="nav-link ">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/Login" class="nav-link ">View Profile</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</nav>