/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://mdbootstrap.com/img/Photos/new-templates/glassmorphism-article/img7.jpg) !important;
}

.intro {
  height: 100%;
}

#bg-transparent.bg-transparent,table{
  color: white;
  background-color: transparent;
}

table td,
table th {
  width: auto;
  padding: 0.75rem 0.75rem;
  font-size: large;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

