


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Reservation Form</h1>
    <form id="reservationForm" [formGroup]="reservationData"
    (ngSubmit)="submit(reservationData.value)">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id" formControlName="id" placeholder="Enter ID" required>
      </div>
      <div class="form-group">
        <label for="employeeId">Reservation Done By Employee ID</label>
        <input type="text" class="form-control" id="employeeId" formControlName="reservationDoneByEmployeeId" placeholder="Enter Employee ID" required>
      </div>
      <div class="form-group">
        <label for="requestId">Travel Request ID</label>
        <input type="text" class="form-control" id="requestId" formControlName="travelRequestId" placeholder="Enter Travel Request ID" required>
      </div>
      <div class="form-group">
        <label for="createdOn">Created On</label>
        <input type="date" class="form-control" id="createdOn" formControlName="createdOn" required>
      </div>
      <div class="form-group">
        <label for="entity">Reservation Done With Entity</label>
        <input type="text" class="form-control" id="entity" formControlName="reservationDoneWithEntity" placeholder="Enter Reservation Entity" required>
      </div>
      <div class="form-group">
        <label for="reservationDate">Reservation Date</label>
        <input type="date" class="form-control" id="reservationDate" formControlName="reservationDate" required>
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" formControlName="amount" placeholder="Enter Amount" required>
      </div>
      <div class="form-group">
        <label for="confirmationId">Confirmation ID</label>
        <input type="text" class="form-control" id="confirmationId" formControlName="confirmationId" placeholder="Enter Confirmation ID" required>
      </div> 
      <div class="form-grpup mb-3">
        <select name="reservationTypes" id="reservationTypes" class="form-select" formControlName="reservationTypes" (change)="onSelectOption($event)">
          <option value="{0:'Select A Reservation Type'}">Select A Reservation Type</option>
          <option value="{1:'Flight/Bus/Train'}">Flight/Bus/Train</option>
          <option value="{2:'Hotel'}">Hotel</option>
          <option value="{3:'Cab}">Cab</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
     
    </form>
  </div>
</body>
</html>
