<div class="container m-5">

    <form class="form" (submit)="onSearch()">
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="selectedOption" value="travelRequestId" type="radio"
                name="Radio" id="Radio1" (change)="onOptionChange('travelRequestId')">
            <label class="form-check-label" for="flexRadioDefault1">
                Search By Travel Request Id
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="selectedOption" value="reimbursementRequestId" type="radio"
                name="Radio" id="Radio2" (change)="onOptionChange('reimbursementRequestId')">
            <label class="form-check-label" for="flexRadioDefault2">
                Search By Reimburesment Request Id
            </label>
        </div>
        <div class="d-flex">
            <input class="form-control me-2" name="searchId" [(ngModel)]="id" type="search" placeholder="Search"
                aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </form>

    <div *ngIf="showContent">
        <app-reimbursement-request-table [selectedOption]="selectedOption" [id]="id"></app-reimbursement-request-table>
    </div>
    <div *ngIf="showError">
        <p class="text-danger">{{ errorMessage }}</p>
    </div>
</div>