<div>
    <table *ngIf="isDataAvailable" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TRAVEL REQUEST ID</th>
                <th scope="col">REQUEST RAISED BY EMPLOYEE ID</th>
                <th scope="col">REQUEST DATE</th>
                <th scope="col">REIMBURSEMENT TYPE ID</th>
                <th scope="col">INVOICE NO</th>
                <th scope="col">INVOICE DATE</th>
                <th scope="col">INVOICE AMOUNT</th>
                <th scope="col">DOCUMENT URL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of reimbursementRequests">
                <th scope="row">{{ request.id }}</th>
                <td>{{ request.travelRequestId }}</td>
                <td>{{ request.requestRaisedByEmployeeId }}</td>
                <td>{{ request.requestDate }}</td>
                <td>{{ request.reimbursementTypes.id }}</td>
                <td>{{ request.invoiceNo }}</td>
                <td>{{ request.invoiceDate }}</td>
                <td>{{ request.invoiceAmount }}</td>
                <td>{{ request.documentURL }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
    <div *ngIf="showError" >
        <p class="text-danger">
            {{ errorMessage }}
        </p>
    </div>

</div>